.header{display: flex;width: 100%;height: .9rem;
    padding: 0 .2rem;justify-content: space-between;align-items: center}
.ipt{width: 5.36rem;height: .6rem;border: 2px solid red;border-radius: .3rem;
    outline: none;font-size:.26rem;padding-left: .56rem;box-sizing: border-box}
.iconsearch{position: absolute;left: .3rem;top: .25rem;font-size: .4rem;color: red}
.btn{width: .56rem;height: .44rem;border-radius: .06rem;font-size: .22rem;
    border: 1px solid red;background: #fff;color: red}
.icongouwuchekong{font-size: .4rem;color: #000}


.main{width: 100%;height: 16.24rem;overflow: auto}

.swiper-container{width:100%;height: 3.75rem;background: red;}
.swiper-slide>img{width: 100%;height: 3.75rem;}
.swiper-pagination{color: #fff;}


.nav{width: 100%;height: .4532rem;}
.nav>img{width: 100%;height: .4532rem;}


.content{width: 7.5rem;height: 3.4376rem;}
.content>li{width: 100%;height: 1.72rem;display: flex;justify-content: space-between}
.content>li>img{width: 1.5rem;height: 1.72rem;}


.newPeople{width: 100%;height: 1.72rem;display: block}
.newPeople>img{width: 100%;height: 1.72rem;}


.myArticle{width: 100%;height: 3.75rem;display: flex;justify-content: space-between}
.article-left,.article-right{width: 3.75rem;height: 3.75rem;}
.article-left>img{width: 3.75rem;height: 3.75rem;}
.article-right>img{width: 15.75em;height:1.875rem;}


.todayBuying{display: block;width: 100%;height: .7578rem;}

.block{width: 100%;height: 3.23rem;background: #fff;display: flex;justify-content: space-between;padding: 0;flex-direction: column}
.flash-sale{width:3.75rem;box-sizing: border-box; height: 4.093333rem;
    padding-top: .266667rem; overflow: hidden;padding-left: .4rem;display: flex;flex-direction: column;
    align-items: center;border-right: 1px solid #666;border-bottom: 1px solid #666}
.head{display: flex}
.body{width: 3.4146rem;height:2.156rem ;box-sizing: border-box;padding: .06px 0;display: flex}
.body-left,.body-right,.body-left>img,.body-right>img{width: 1.5396rem;height: 1.5396rem;}
.body-left,.body-right{display: flex; flex-direction: column;align-items: center;padding: 0}

.entry-small{width: 2.5rem;height: 3.4rem;    height: 4.093333rem;padding-top: .266667rem;overflow: hidden;
    box-sizing: border-box;display: -webkit-box;display: -webkit-flex;display: flex;-webkit-box-orient: vertical;
    -webkit-box-direction: normal;-webkit-flex-direction: column; flex-direction: column;-webkit-box-pack: start;
    -webkit-justify-content: flex-start;justify-content: flex-start;-webkit-box-align: center;-webkit-align-items: center;
    align-items: center;}
.first-sale{display: flex;justify-content: space-between}
.last-sale{display: flex;width: 2.4rem;height: 3.4rem;background: red;}